extends layout

block content
  h1= title
  p Select a counter to edit.
  each val in counts
    +item(val)
  b
    a(href='/new') Add New

  br
  br
  br

  h2 Nightbot Command
  h3 Get stats of all counters.
  pre $(eval const api = $(urlfetch json https://#{windowUrl}/stats); api.message; )
  h4 Preview: 
  pre #{statsPreview}

mixin showInStats(showInStats)
  if showInStats
    | - in !stats
  else
    |

mixin item(val)
  .item-row
    a(href=`/edit/${val.name}`)
      p.
        #{val.name} #[+showInStats(val.showInStats)]


